/* General Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Input Styles */

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="color"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


/* Arabic Language Styles */

body[dir="rtl"] {
    text-align: right;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 10px;
    top: 10px;
    left: 10px;
}
