body{
    background-color: rgb(0, 0, 57);
}


.link{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.set{
    font-family: 'Courier New', Courier, monospace;
    justify-content: left;
    text-align: left;
    color: white;
    text-decoration: none;
}

.set:hover{
    margin-left: 50px;
    transition: 0.3s;
}

.pag{
    margin-left: 20px;
    color: white;
}

.up{
    padding: 10px 20px;
    text-decoration: none;
    background-color: brown;
    color: white;
    justify-content:center;
    text-align: center;
    margin-left: 550px;
    margin-bottom: 30px;
}

.up:hover{
    border-radius: 30%;
    transition: 0.3;
}
